.slick-dots {
  li {
    margin-bottom: 100px;
  }
}
.buttonbaner {
  background-color: #ffffff;
  border: none;
  outline: none;
  position: relative;
  border-radius: 10px;
  width: 308px;
  height: 48px;
  bottom: 50px;
  font-size: 20px;
  font-weight: bold;
}
