.Heatder {
  position: sticky;
  z-index: 9999;
  top:0;
  display: flex;
  width: 100%;
  height: 108px;
  justify-content: space-around;
  align-items: center;
 background-color: #ffffff;
  .Menu_Heatder {
    display: flex;
    gap: 40px;
    h3 {
      cursor: pointer;
      font-style: normal;
      font-weight: 400;
      font-family: "Montserrat", sans-serif;
      color: #636262;
    }
    h3:hover {
      color: #000000;
      font-weight: bold;
    }
  }
  .Search_Heatder {
    display: flex;
    cursor: pointer;

    background-color: #f6f6f6;
    width: Fixed;
    height: 44px;
    border-radius: 8px;
    img {
      margin-left: 15px;
      position: relative;
      margin-top: 12px;
      width: 20px;
      height: 20px;
    }
    input {
      cursor: pointer;

      border: none;
      padding: 12px 20px 12px 20px;
      outline: none;
      border-radius: 8px;
      background-color: #f6f6f6;
    }
  }
  .Icon_Heatder {
    .component {
      cursor: pointer;
      background-color: #f6f6f6;
      width: 30%;
      height: 40%;
      padding: 12px;
      border-radius: 8px;
      .icon {
        width: 20px;
        height: 20px;
        margin-left: 3px;
        margin-top: 3px;
      }
    }
    .component:hover {
      background-color: blueviolet;
      .icon {
        color: #ffffff;
        font-weight: bold;
      }
    }
    display: flex;
    gap: 12px;
  }
}
