* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.mainBody {
    width: 100%;
    height: fit-content;
    display: flex;

    .mainImage {
        width: 1100px;
        height: fit-content;

        .image {
            width: 800px;
            height: 956px;
            background-size: contain;
            // object-fit: cover;
        }
    }

    .mainContent {
        width: 60%;
        // margin: 0 auto;
        margin-left: 8%;
        margin-top: 200px;

        .mainTitle {
            font-size: 32px;
            line-height: 25%;
            font-weight: 600;
        }

        .mainButton {
            margin-top: 40px;
            width: 560px;
            height: 48px;
            text-align: center;
            // margin: 0 auto;
            position: relative;

            .mainButton2 {
                margin-top: 20px;
            }
            .google-button-signin {
                border-radius: 8px;
                padding: 16px 20px;
                width: 560px;
                height: 45px;
                font-size: 18px;
                color: #8a33fd;
                background-color: #fff;
                font-weight: 500;
                border: 1px solid #3c4242;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }

            .mainButtonImage {
                position: absolute;
                display: inline;
                left: 150px;
                top: 13px;
            }

            .mainButtonImage1 {
                position: absolute;
                display: inline;
                left: 150px;
                top: 80px;
            }

            .continue-button-signin {
                border-radius: 8px;
                padding: 16px 20px;
                width: 560px;
                height: 45px;
                font-size: 18px;
                color: #8a33fd;
                background-color: #fff;
                font-weight: 500;
                border: 1px solid #3c4242;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }

        .divider {
            margin-top: 100px;
        }

        .mainInput-sign-in {
            width: 560px;
            height: 48px;
            margin-top: 30px;

            .input-sign-in {
                width: 560px;
                height: 48px;
                border-radius: 8px;
                padding: 16px 20px;
                border: 1px solid #3c4242;
                font-size: 16px;
                margin-top: 5px;
            }
        }

        .mainInput2 {
            width: 560px;
            height: 48px;
            margin-top: 40px;
            display: flex;
        }

        .mainInput3 {
            width: 560px;
            height: 48px;

            .input3-sign-in {
                width: 560px;
                height: 48px;
                border-radius: 8px;
                padding: 16px 20px;
                border: 1px solid #3c4242;
                font-size: 16px;
            }
        }

        .main-button {
            margin-top: 20px;
            .main-button-signin {
                width: 156px;
                height: 46px;
                border-radius: 8px;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 16px 20px;
                font-size: 16px;
                font-weight: 500;
                color: #ffffff;
                background-color: #8a33fd;
                cursor: pointer;
            }
        }

        .main-content-end {
            margin-top: 20px;
        }
    }
}

@media (max-width: 1280px) {
    .mainBody {
        width: 100%;
        height: fit-content;
        display: flex;

        .mainImage {
            width: 800px;
            height: fit-content;

            .image {
                width: 800px;
                height: 956px;
                background-size: contain;
                // object-fit: cover;
            }
        }

        .mainContent {
            width: 60%;
            margin-left: 4%;
            margin-top: 180px;

            .mainTitle {
                font-size: 32px;
                line-height: 25%;
                font-weight: 600;
            }

            .mainButton {
                margin-top: 40px;
                width: 560px;
                height: 48px;
                text-align: center;
                // margin: 0 auto;
                position: relative;

                .mainButton2 {
                    margin-top: 20px;
                }

                .mainButtonImage {
                    position: absolute;
                    display: inline;
                    left: 150px;
                    top: 13px;
                }
                .google-button-signin {
                    border-radius: 8px;
                    padding: 16px 20px;
                    width: 560px;
                    height: 45px;
                    font-size: 18px;
                    color: #8a33fd;
                    background-color: #fff;
                    font-weight: 500;
                    border: 1px solid #3c4242;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }

                .mainButtonImage1 {
                    position: absolute;
                    display: inline;
                    left: 150px;
                    top: 78px;
                }

                .continue-button-signin {
                    border-radius: 8px;
                    padding: 16px 20px;
                    width: 560px;
                    height: 45px;
                    font-size: 18px;
                    color: #8a33fd;
                    background-color: #fff;
                    font-weight: 500;
                    border: 1px solid #3c4242;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
            }

            .divider {
                margin-top: 100px;
            }

            .mainInput-sign-in {
                width: 560px;
                height: 48px;
                margin-top: 30px;

                .input-sign-in {
                    width: 560px;
                    height: 48px;
                    border-radius: 8px;
                    padding: 16px 20px;
                    border: 1px solid #3c4242;
                    font-size: 16px;
                    margin-top: 5px;
                }
            }

            .mainInput2 {
                width: 560px;
                height: 48px;
                margin-top: 40px;
                display: flex;
            }

            .mainInput3 {
                width: 560px;
                height: 48px;

                .input3-sign-in {
                    width: 560px;
                    height: 48px;
                    border-radius: 8px;
                    padding: 16px 20px;
                    border: 1px solid #3c4242;
                    font-size: 16px;
                }
            }
            .forgot-pass-signin {
                font-size: 14px;
                margin-left: 69%;
                margin-top: 10px;
                text-decoration: underline;
                font-weight: 400;
            }

            .main-button {
                margin-top: 20px;

                .main-button-signin {
                    width: 156px;
                    height: 46px;
                    border-radius: 8px;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 16px 20px;
                    font-size: 16px;
                    font-weight: 500;
                    color: #ffffff;
                    background-color: #8a33fd;
                    cursor: pointer;
                }
            }

            .main-content-end {
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .mainBody {
        width: 100%;
        height: fit-content;
        display: flex;

        .mainImage {
            width: 480px;
            height: fit-content;

            .image {
                width: 600px;
                height: 956px;
                background-size: contain;
                // object-fit: cover;
            }
        }

        .mainContent {
            width: 40%;
            margin-left: 8%;
            margin-top: 180px;

            .mainTitle {
                font-size: 30px;
                line-height: 25%;
                font-weight: 600;
            }

            .mainButton {
                margin-top: 40px;
                width: 15px;
                height: 48px;
                text-align: center;
                // margin: 0 auto;
                position: relative;

                .mainButton2 {
                    margin-top: 20px;
                }

                .mainButtonImage {
                    position: absolute;
                    display: inline;
                    left: 70px;
                    top: 15px;
                }
                .google-button-signin {
                    border-radius: 8px;
                    padding: 16px 20px;
                    width: 400px;
                    height: 45px;
                    font-size: 18px;
                    color: #8a33fd;
                    background-color: #fff;
                    font-weight: 500;
                    border: 1px solid #3c4242;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }

                .mainButtonImage1 {
                    position: absolute;
                    display: inline;
                    left: 70px;
                    top: 78px;
                }

                .continue-button-signin {
                    border-radius: 8px;
                    padding: 16px 20px;
                    width: 400px;
                    height: 45px;
                    font-size: 18px;
                    color: #8a33fd;
                    background-color: #fff;
                    font-weight: 500;
                    border: 1px solid #3c4242;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
            }

            .divider {
                margin-top: 100px;
                width: 400px;
            }

            .mainInput-sign-in {
                width: 400px;
                height: 48px;
                margin-top: 30px;
                font-size: 10px;

                .input-sign-in {
                    width: 400px;
                    height: 48px;
                    border-radius: 8px;
                    padding: 16px 20px;
                    border: 1px solid #3c4242;
                    font-size: 16px;
                    margin-top: 5px;
                }
            }

            .mainInput2 {
                width: 400px;
                height: 48px;
                margin-top: 40px;
                display: flex;
            }

            .mainInput3 {
                width: 400px;
                height: 48px;

                .input3-sign-in {
                    width: 400px;
                    height: 48px;
                    border-radius: 8px;
                    padding: 16px 20px;
                    border: 1px solid #3c4242;
                    font-size: 16px;
                }
            }

            .forgot-pass-signin {
                font-size: 14px;
                margin-left: 245px;
                margin-top: 10px;
                text-decoration: underline;
                font-weight: 400;
            }

            .main-button {
                margin-top: 20px;

                .main-button-signin {
                    width: 156px;
                    height: 46px;
                    border-radius: 8px;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 16px 20px;
                    font-size: 16px;
                    font-weight: 500;
                    color: #ffffff;
                    background-color: #8a33fd;
                    cursor: pointer;
                }
            }

            .main-content-end {
                margin-top: 20px;
            }
        }
    }
}
@media (max-width: 768px) {
    .mainBody {
        width: 100%;
        height: fit-content;
        display: flex;

        .mainImage {
            width: 320px;
            height: fit-content;
            

            .image {
                width: 600px;
                height: 900px;
                background-size: contain;
                // object-fit: cover;
            }
        }

        .mainContent {
            width: 60%;
            margin-left: 6%;
            margin-top: 150px;

            .mainTitle {
                font-size: 30px;
                line-height: 25%;
                font-weight: 600;
            }

            .mainButton {
                margin-top: 40px;
                width: 15px;
                height: 48px;
                text-align: center;
                // margin: 0 auto;
                position: relative;

                .mainButton2 {
                    margin-top: 20px;
                }

                .mainButtonImage {
                    position: absolute;
                    display: inline;
                    left: 56px;
                    top: 15px;
                }
                .google-button-signin {
                    border-radius: 8px;
                    padding: 16px 20px;
                    width: 360px;
                    height: 45px;
                    font-size: 18px;
                    color: #8a33fd;
                    background-color: #fff;
                    font-weight: 500;
                    border: 1px solid #3c4242;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }

                .mainButtonImage1 {
                    position: absolute;
                    display: inline;
                    left: 56px;
                    top: 79px;
                }

                .continue-button-signin {
                    border-radius: 8px;
                    padding: 16px 20px;
                    width: 360px;
                    height: 45px;
                    font-size: 18px;
                    color: #8a33fd;
                    background-color: #fff;
                    font-weight: 500;
                    border: 1px solid #3c4242;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
            }

            .divider {
                margin-top: 100px;
                width: 360px;
            }

            .mainInput-sign-in {
                width: 360px;
                height: 48px;
                margin-top: 30px;
                font-size: 10px;

                .input-sign-in {
                    width: 360px;
                    height: 48px;
                    border-radius: 8px;
                    padding: 16px 20px;
                    border: 1px solid #3c4242;
                    font-size: 16px;
                    margin-top: 5px;
                }
            }

            .mainInput2 {
                width: 360px;
                height: 48px;
                margin-top: 40px;
                display: flex;
            }

            .mainInput3 {
                width: 400px;
                height: 48px;

                .input3-sign-in {
                    width: 360px;
                    height: 48px;
                    border-radius: 8px;
                    padding: 16px 20px;
                    border: 1px solid #3c4242;
                    font-size: 16px;
                }
            }

            .forgot-pass-signin {
                font-size: 12px;
               margin-left: 220px;
                margin-top: 10px;
                text-decoration: underline;
                font-weight: 400;
            }

            .main-button {
                margin-top: 20px;

                .main-button-signin {
                    width: 156px;
                    height: 46px;
                    border-radius: 8px;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 16px 20px;
                    font-size: 16px;
                    font-weight: 500;
                    color: #ffffff;
                    background-color: #8a33fd;
                    cursor: pointer;
                }
            }

            .main-content-end {
                margin-top: 20px;
            }
        }
    }
}
