.footer {
  
  background-color: #3c4242;
  color: #f6f6f6;
  font-size: 20px;
  .iconTille_footer {
    display: flex;
    gap: 9px;
    margin-top: 80px;
    margin-left: 10px;
    .icon_footer {
      width: 37%;
      height: 50px;
      background-color: #f6f6f6;
      color: #3c4242;
      padding: 13px;
      border-radius: 10px;
    }
  }

  .container2 {
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    p{
      margin-top: 20px;
    }
    padding: 50px 70px;
    font-size: 18px;
    .download {
      margin-top: 80px;
    }
    .downloadapp {
      display: flex;
      margin-top: 50px;
      
    }

    .appstore {
      width: 400px;
      height: 51px;
      display: flex;
      gap: 20px;
      h5 {
        font-size: 9px;
        position: relative;
        right: 110px;
      }
    }
    .chplay {
      width: 270px;
      height: 51px;
      display: flex;
      gap: 20px;
      h5 {
        font-size: 9px;
        position: relative;
      
        right: 125px;
      }
    }
  }
}
