.footer {
  background-color: #3c4242;
  color: #ffffff;
  font-size: 20px;
 
  .iconTille_footer {
    display: flex;
    gap: 9px;
    margin-top: 80px;
    margin-left: 10px;
    .icon_footer {
      position: relative;
      left: 40px;
      width: 50px;
      height: 50px;
      cursor: pointer;
      background-color: #f6f6f6;
      color: #3c4242;
      padding: 16px;
      border-radius: 10px;
    }
    .icon_footer:hover {
      background-color: #c6c4c4;

      transition: 0.5s;
    }
  }

  .container2 {
    max-width: 1440px;
    width: 100%;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    h2{
      margin-left: 10px;
    }
    p {
      margin-top: 20px;
      margin-left: 20px;
    }
    padding: 50px 0 50px 0;
    font-size: 18px;
    .download {
      margin-top: 80px;
    }
    .downloadapp {
      display: flex;
      margin-top: 50px;
    }

    .appstore {
      width: 250px;
      height: 51px;
      display: flex;
      gap: 20px;
      h5 {
        font-size: 9px;
        position: relative;
        right: 110px;
      }
    }
    .chplay {
      width: 270px;
      height: 51px;
      display: flex;
      gap: 20px;
      h5 {
        font-size: 9px;
        position: relative;

        right: 125px;
      }
    }
  }
  .footer2 {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    h2 {
      margin: 15px 20px 15px 20px;
    }
    h4 {
      padding: 20px 0 20px 0;
      text-align: center;
    }
    hr {
      border: 1px solid #f6f6f6;
    }
  }
}
@media (max-width: 768px) {
  .footer {
    background-color: #3c4242;
    color: #ffffff;
    font-size: 15px;
    .iconTille_footer {
      display: flex;
      gap: 9px;
      margin-top: 80px;
      margin-left: 10px;
      .icon_footer {
        width: 50px;
        height: 50px;
        cursor: pointer;
        background-color: #f6f6f6;
        color: #3c4242;
        padding: 16px;
        border-radius: 10px;
      }
      .icon_footer:hover {
        background-color: #c6c4c4;

        transition: 0.5s;
      }
    }

    .container2 {
      max-width: 1440px;

      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      p {
        margin-top: 20px;
        font-size: 10px;
      }
      padding: 50px 0 50px 0;
      font-size: 15px;
      .download {
        margin-top: 80px;
      }
      .downloadapp {
        width: 100%;
      }
      .location_2 {
        width: 300px;
      }

      .appstore {
        height: 51px;
        display: flex;

        h5 {
          font-size: 9px;
          position: relative;
          right: 79px;
        }
      }
      .chplay {
        width: 120px;
        height: 51px;
        display: flex;
        gap: 20px;
        h5 {
          font-size: 9px;
          position: relative;

          right: 79px;
        }
      }
    }
    .footer2 {
      max-width: 1440px;
      width: 100%;
      margin: 0 auto;
      h2 {
        margin: 15px 0 15px 0;
      }
      h4 {
        padding: 20px 0 20px 0;
        text-align: center;
      }
      hr {
        border: 1px solid #f6f6f6;
      }
    }
  }
}
